<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drawSneakers.webapp.dao.ShoesDao">
	<select id="shoesInfo" resultType="Shoes">
	 <![CDATA[
		SELECT * FROM table_shoes WHERE release_date > CURRENT_TIMESTAMP()
		ORDER BY release_date ASC;
	]]>
	</select>
	<select id="pushShoesInfo" resultType="Shoes">
		SELECT 
		product_num,name,color,method,launched,release_date,release_url,release_site,timestampdiff(MINUTE,CURRENT_TIMESTAMP(),release_date) time_remaining 
		FROM table_shoes 
		WHERE launched = 'N'
		GROUP BY name,release_site 
		ORDER BY release_date ASC;
	</select>
	<select id="getPastDrawList" resultType="Shoes">
	 <![CDATA[
		SELECT * FROM table_shoes WHERE launched = 'Y' ORDER BY release_date DESC LIMIT 10;
	]]>
	</select>
	<select id="getNextDrawList" resultType="Shoes">
	 <![CDATA[
		SELECT * FROM table_shoes WHERE launched = 'N' ORDER BY release_date ASC LIMIT 10;
	]]>
	</select>
	<update id="updateShoes" parameterType="Shoes">
		<![CDATA[
		UPDATE table_shoes
		SET launched = 'Y'
		WHERE release_date < CURRENT_TIMESTAMP() AND launched = 'N';
	]]>
	</update>
</mapper>