<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drawSneakers.webapp.dao.ShoesDao">
	<select id="shoesInfo" resultType="ShoesView">
	 <![CDATA[
		SELECT * FROM shoes_view WHERE release_date > NOW()
		UNION
		SELECT * FROM shoes_view WHERE release_date <= NOW()
		ORDER BY release_date DESC;
	]]>
	</select>
</mapper>